*, *:before, *:after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100vw;
    padding-top: 1rem;
    letter-spacing: 0.1rem;
}

header {
    width: 100vw;
    height: 2rem;
    border-bottom: 1px solid green;
}

fieldset{
    display: flex;
    flex-direction: column;
}

label {
    margin: 0.5rem;
}

.bookCont {
    display: contents;
}


.book {
    display:flex;
    align-self:end;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    background-color: #dcedc8;
    border: 5px groove green;
    margin-left: 0.25rem;
    padding: 1rem;
    height: max-content;
    max-height: 25vh;
    writing-mode:vertical-rl;
    text-orientation: mixed;
    cursor: pointer;
 
}


.popup {
    display: none;
    writing-mode: horizontal-tb;


}

.visible {
    display:inline;
    position: relative;
    z-index: 1;
    right: 1rem;
    background-color: #ffff88;
    padding: 1rem;  
}

.status {
    display: block;
    margin: 0.2rem;
    padding: 1rem;
    background-color:#808000;
    cursor: pointer;
    height: min-content;

}

#formcontainer {
    position: absolute;
    z-index: 0;
    visibility: hidden;
    left: 50vw;
    top: 35vh;
    border: 1px solid;
    padding: 2rem; 
}

#new {
    float:right;
}

#library{
    display: flex;
    flex-wrap: wrap;

}
