*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}


body { display: grid;
       height: 100vh;
       width: 100vw;
       justify-content: center;
       align-items: center;
    }

p {
    font-size: small;
    }

header {
        text-align: center;
}

h1 {
    text-decoration: underline;
}


.white {
    background-color: white;
    cursor: pointer;
}

#erase{
    height: 6vh;
    width: 5vw;
    float: right;
    cursor: pointer;

}

#container{display:grid;
           grid-template-columns: repeat(10, 1fr);
           grid-template-rows: repeat(10,1fr);
           height: 70vh;
           width: 90vw;
           border: thick solid black; 
         }

div{ 
     width: 100%;
     height: 100%;
     background-color: blue; 
}

