html {
    box-sizing: border-box;

}


*, *:before, *:after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
}

.hidden {
    visibility: hidden
}

.project {
    border: 1px solid black;
    cursor: pointer;
}

.none {
    display: none;
}

.toDoNoteInput {
    border: 1px solid black;
}

.text {
    white-space: pre-wrap;
}

.modInput {
    white-space: pre-wrap;
}

