html {
    box-sizing: border-box;

}

*, *:before, *:after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-height: 100vh;
    width: 100vw;

}

.project {
    display: flex;
    flex-direction: column;
    width: 44vw;
    min-height: 10vh;
    max-height: max-content;
    border: 1px solid black;
    padding: 1rem;
    flex-wrap: wrap;
    word-break: break-all;
    box-shadow: 5px 10px;
    cursor: pointer;
    position: relative;
    gap: 0.33rem;
    margin: 1.5rem;
    

}

.remove {
    background-color: white;
    position: absolute;
    top: 0;
    right: 0;
}

.delProjBtn {
    background-color: white;
    position:absolute;
    top: 0;
    right: 0;
    
}

.itemTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.editProjTitleBtn {
    font-size:larger
    
}

.addCheck {
    display: block;
    font-size: x-small;
    margin-right: auto;
}


.move {
    cursor: pointer;
    background-color: white;
    position: absolute;
    bottom: 0;
    right: 0
}

.toDoContainer {
    display: flex;
    flex-wrap: wrap;
}

.toDoNoteInput {
    border: 1px solid black;
    position: relative;
    width: 50%;
    min-height: 5vh;
}

.text {
    white-space: pre-wrap;
}

.modInput {
    white-space: pre-wrap;
}

.opaque {
    opacity: 0.1;
    
}

.opaqueColor {
    color: rgba(0,0,0,0.1);
    border-color: rgba(0,0,0,0.1)
}

.transitForm {
    position: fixed;
    z-index:100;
    left: 50vw;
    top: 35vh;
    border: 1px solid black;
    color: black;
    padding: 2rem;
}


.hidden {
    visibility: hidden;
}

.headerChild{
    margin-left: auto;
}

.moving {
    color: green;
    background-color: red;
    
}

.none {
    display: none;
}

#header {
    display:flex;
    justify-content: center;
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

